@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.form-control {
  --#{$prefix}border-radius: 0%;
}

.btn {
  --#{$prefix}btn-border-radius: 0%;
  --bs-btn-bg: #fbb615;
}

.card {
  --bs-card-border-width: 0%;
}

.shadow-sm {
  --bs-box-shadow-sm: 0%;
}

.card-img-top {
  --bs-card-inner-border-radius: 0%;  
}

#descBox {
  inline-size: 400px;
  overflow-wrap: break-word;
}

//  a:visited {
//   color: yellow;
// }

.active {
  font-weight: bold;
}